{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>BAMS</title>
  <meta charset="utf-8">
  
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BAMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
	  <li><a href="{{url_for('newaccount')}}">Create account</a></li>
	  <li ><a href="{{url_for('deposite_money')}}">Deposit </a></li>
      <li><a href="{{url_for('withdraw_money')}}">Withdraw </a></li>
      <li><a href="{{url_for('deleteaccount')}}">Delete Account</a></li>
      <li><a href="{{url_for('display_details')}}">Display Customer  Details</a></li>
    </ul>
  </div>
</nav>

<!--juny-->
  


</body>
</html>
	
	
{% endblock %}
